<section class="section-form section-form--add">
	<div class="section-outer section-form__outer">
		<div class="section-form__background">
			<img src="./img/main-page/section-form/add-img.png" alt="Image">
		</div>
		<div class="section-inner section-form__inner">
			<div class="section-form__info-box">
				<h2 class="title-t1 section-form__title">Сэкономьте <span class="dark-blue-text">30%</span> от  стоимости авто используя услугу расстаможки под ключ</h2>
				<h3 class="subtitle-t1 section-form__subtitle">Машина мечты за 14 дней</h3>
			</div>
			<div class="section-form__form-box">
				<form action="#" class="form">
					<div class="form__outer">
						<div class="form__inner">
							<div class="form__title">
								<h3 class="form__title-text">Просчитать стоимость вашего автомобиля</h3>
							</div>
							<div class="form__field">
								<input type="text" class="input form__input" placeholder="Имя">
							</div>
							<div class="form__field">
								<input type="text" class="input form__input" placeholder="Телефон">
							</div>
							<div class="form__sumbit-btn">
								<button class="button button-t1 button-t1--dark-blue form-t1__button">Отправить</button>
							</div>
							<div class="form__policy">
								<input type="checkbox" id="checkbox_form_main_2" class="checkbox-input form__chekbox-input" checked>
								<label for="checkbox_form_main_2" class="checkbox-label form__checkbox-label">Согласен на обработку персональных данных</label>
							</div>
							<div class="form__add-info">
								<span class="form__add-text">Консультация бесплатная</span>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>