<section class="section-form section-form--add">
	<div class="section-outer section-form__outer section-outer--light-blue">
		<div class="section-form__background">
			<img src="./img/main-page/section-form/add-img.png" alt="Image">
		</div>
		<div class="section-inner section-form__inner">
			<div class="section-form__info-box">
				<h2 class="title-t1 section-form__title">Сэкономьте <span class="dark-blue-text">30%</span> от  стоимости авто используя услугу расстаможки под ключ</h2>
				<h3 class="subtitle-t1 section-form__subtitle">Машина мечты за 14 дней</h3>
			</div>
			<div class="section-form__form-box">
				<form action="#" class="form form-box">
					<div class="form-box__outer">
						<div class="form-box__inner">
							<div class="form-box__title">
								<h3 class="form-box__title-text">Просчитать стоимость вашего автомобиля</h3>
							</div>
							<div class="form-box__field">
								<input type="text" name="name" class="input form-box__input _req" placeholder="Имя">
							</div>
							<div class="form-box__field">
								<input type="tel" name="phone" class="input form-box__input _req" placeholder="Телефон">
							</div>
							<div class="form-box__sumbit-btn">
								<button type="submit" class="button button-t1 button-t1--dark-blue form-box-t1__button">Отправить</button>
							</div>
							<div class="form-box__policy">
								<input type="checkbox" id="checkbox_form_box_add" class="checkbox-input form-box__chekbox-input _req" checked>
								<label for="checkbox_form_box_add" class="checkbox-label form-box__checkbox-label">Согласен на обработку персональных данных</label>
							</div>
							<div class="form-box__add-info">
								<span class="form-box__add-text">Консультация бесплатная</span>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="section-form__btn-box">
				<button class="button-t1 section-form__button"  data-popup="get-price">Рассчитать стоимость</button>
			</div>
		</div>
	</div>
</section>