<section class="section-advantage">
	<div class="section-outer section-advantage__outer">
		<div class="section-inner section-advantage__inner">
			<div class="advantage-box section-advantage__item">
				<div class="advantage-box__icon">
					<img src="./img/main-page/section-advantage/advantage-ico.svg" alt="Icon">
				</div>
				<div class="advantage-box__description">
					<span class="advantage-box__text">20 лет на рынке</span>
				</div>
			</div>
			<div class="advantage-box section-advantage__item">
				<div class="advantage-box__icon">
					<img src="./img/main-page/section-advantage/advantage-ico.svg" alt="Icon">
				</div>
				<div class="advantage-box__description">
					<span class="advantage-box__text">Прозрачность</span>
				</div>
			</div>
			<div class="advantage-box section-advantage__item">
				<div class="advantage-box__icon">
					<img src="./img/main-page/section-advantage/advantage-ico.svg" alt="Icon">
				</div>
				<div class="advantage-box__description">
					<span class="advantage-box__text">Полный комплекс услуг</span>
				</div>
			</div>
			<div class="advantage-box section-advantage__item">
				<div class="advantage-box__icon">
					<img src="./img/main-page/section-advantage/advantage-ico.svg" alt="Icon">
				</div>
				<div class="advantage-box__description">
					<span class="advantage-box__text">Без предоплат</span>
				</div>
			</div>
			<div class="advantage-box section-advantage__item">
				<div class="advantage-box__icon">
					<img src="./img/main-page/section-advantage/advantage-ico.svg" alt="Icon">
				</div>
				<div class="advantage-box__description">
					<span class="advantage-box__text">Высокая скорость</span>
				</div>
			</div>
		</div>
	</div>
</section>