<div class="section-reviews" id="section_reviews">
	<div class="section-outer">
		<div class="section-inner">
			<div class="section-inner__title">
				<h2 class="title-t2">Отзывы</h2>
			</div>
			<div class="section-reviews__body">
				<div class="swiper-button-prev"></div>
				<div class="swiper-container">
					<div class="swiper-wrapper">	
						<div class="swiper-slide">
							<div class="review-card">
								<div class="review-card__image">
									<img src="./img/main-page/section-reviews/car-1.jpg" alt="Image">
								</div>
								<div class="review-card__info">
									<div class="review-card__title-box">
										<span class="review-card__title"><span class="bold">HONDA CR-V,</span> бензин 2.4</span>
									</div>
									<div class="review-card__text-box">
										<span class="review-card__main-text">Пробег: <span class="bold">9200 миль</span></span>
										<span class="review-card__main-text">Год выпуска: <span class="bold">2018</span></span>
									</div>
									<div class="price-box">
										<span class="price-box__text">16 950 $</span>
									</div>
									<div class="review-card__text-box">
										<span class="review-card__main-text">
											Автомобиль просто отличный. 
											Все сделали быстро и качественно! 
											Результатом остался доволен. 
											Подобрали и сделали все как нужно. 
											Рекомендую данную фирму!
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="review-card">
								<div class="review-card__image">
									<img src="./img/main-page/section-reviews/car-2.jpg" alt="Image">
								</div>
								<div class="review-card__info">
									<div class="review-card__title-box">
										<span class="review-card__title"><span class="bold">SKODA Octavia,</span> бензин 1.8</span>
									</div>
									<div class="review-card__text-box">
										<span class="review-card__main-text">Пробег: <span class="bold">9200 миль</span></span>
										<span class="review-card__main-text">Год выпуска: <span class="bold">2013</span></span>
									</div>
									<div class="price-box">
										<span class="price-box__text">8 450 $</span>
									</div>
									<div class="review-card__text-box">
										<span class="review-card__main-text">
											Автомобиль просто отличный. 
											Все сделали быстро и качественно! 
											Результатом остался доволен. 
											Подобрали и сделали все как нужно. 
											Рекомендую данную фирму!
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="review-card">
								<div class="review-card__image">
									<img src="./img/main-page/section-reviews/car-3.jpg" alt="Image">
								</div>
								<div class="review-card__info">
									<div class="review-card__title-box">
										<span class="review-card__title"><span class="bold">Hyundai ix20,</span> бензин 2.2</span>
									</div>
									<div class="review-card__text-box">
										<span class="review-card__main-text">Пробег: <span class="bold">9200 миль</span></span>
										<span class="review-card__main-text">Год выпуска: <span class="bold">2012</span></span>
									</div>
									<div class="price-box">
										<span class="price-box__text">12 450 $</span>
									</div>
									<div class="review-card__text-box">
										<span class="review-card__main-text">
											Автомобиль просто отличный. 
											Все сделали быстро и качественно! 
											Результатом остался доволен. 
											Подобрали и сделали все как нужно. 
											Рекомендую данную фирму!
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-pagination"></div>
				</div>
				<div class="swiper-button-next"></div>
			</div>
		</div>
	</div>
</div>