.form {
	position: relative;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: transparent;
		visibility: hidden;
		pointer-events: none;
	}

	&._sending {
		&::after {
			visibility: visible;
			pointer-events: visible;
			cursor: wait;
		}
	}
}

.form-box {
	&__outer {
		padding: 1.75vw;
		border-radius: 1.875vw;
		background-color: rgba($white, 0.25);
		box-shadow: 0px 0px 0.9375vw 0.875vw rgba($black, 0.06);
	}

	&__inner {
		padding: 1.875vw 2.8125vw;
		border-radius: 1.875vw;
		background-color: $white;
		box-shadow: 0px 0px 0.9375vw 0.875vw rgba($black, 0.06);
	}

	&__title {
		width: 100%;
		display: flex;
		justify-content: center;
	}

	&__title-text {
		margin: 0 0 1.125vw;
		max-width: 15.4375vw;
		text-align: center;
		font-size: 1.25vw;
		font-weight: 700;
		line-height: 148.9%;
	}

	&__field {
		margin: 0 0 1.125vw;
	}

	&__sumbit-btn {
		margin: 1.5vw 0 1.25vw;
	}

	&__policy {
		position: relative;
		margin: 0.9375vw 0;
		display: flex;
		justify-content: center;
	}

	&__add-info {
		width: 100%;
		display: flex;
		justify-content: center;
	}

	&__add-text {
		font-size: 0.8125vw;
		line-height: 178.9%;
	}
}

@media screen and ( max-width: 768px ) {
	.form-box {
		&__outer {
			padding: 6.25vw;
			border-radius: 9.375vw;
			box-shadow: 0px 0px 4.6875vw 4.375vw rgba($black, 0.06);
		}
	
		&__inner {
			padding: 9.375vw 6.25vw;
			border-radius: 9.375vw;
			box-shadow: 0px 0px 4.6875vw 4.375vw rgba($black, 0.06);
		}
	
		&__title-text {
			margin: 0 0 5.625vw;
			max-width: 77.1875vw;
			font-size: 5vw;
		}
	
		&__field {
			margin: 0 0 5.625vw;
		}
	
		&__sumbit-btn {
			margin: 7.5vw 0 6.25vw;
		}
	
		&__policy {
			margin: 4.6875vw 0;
		}
	
		&__add-text {
			font-size: 3.4375vw;
		}

		.form-box__field {
			margin: 0 0 4.6875vw;
		}

		.form-box__sumbit-btn {
			margin: 4.6875vw 0;
		}

		.input {
			height: 14.375vw;
		}

		.button-t1 {
			height: 14.375vw;
		}
	}
}