<div class="section-contacts">
	<div class="section-outer section-contacts__outer">
		<div class="section-contacts__map">
			<div id="map"></div>
		</div>
		<div class="section-inner section-contacts__inner">
			<div class="contacts-box">
				<div class="contacts-box__body">
					<div class="contacts-box__item">
						<h3 class="contacts-box__title">Адрес</h3>
						<a href="#" class="contacts-box__link">
							<span class="contacts-box__link_inner">Киев Шевченковский р-н</span>
							<span class="contacts-box__link_inner">ул. Степана Руданского 3А</span>
						</a>
					</div>
					<div class="contacts-box__item">
						<h3 class="contacts-box__title">Телефон</h3>
						<a href="tel:+380503319081" class="contacts-box__link contacts-box__link--phone">
							<span class="contacts-box__link_inner">+38 050 331 90 81</span>
						</a>
					</div>
					<div class="contacts-box__item">
						<h3 class="contacts-box__title">Email</h3>
						<a href="mailto:oleg@custom.kiev.ua" class="contacts-box__link">
							<span class="contacts-box__link_inner">oleg@custom.kiev.ua</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>