@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat-Bold"), url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat-SemiBold"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat-Medium"), url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat-Regular"), url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat-Light"), url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.125vw;
  line-height: 159%;
}

ul[class],
ol[class] {
  list-style: none;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
}

span {
  display: inline-block;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

.section-outer--light-blue {
  background-color: #F6FAFF;
}

.section-inner {
  padding: 5vw 0;
  max-width: 81.25vw;
  width: 100%;
  margin: 0 auto;
}

.section-inner__title {
  text-align: center;
}

.title-t1 {
  font-size: 2.25vw;
  font-weight: 700;
  line-height: 163.9%;
}

.subtitle-t1 {
  font-size: 1.5vw;
  font-weight: 500;
  line-height: 156.9%;
}

.title-t2 {
  font-size: 1.875vw;
  font-weight: 700;
  line-height: 170.9%;
}

.main-text {
  font-size: 1.125vw;
  line-height: 178.9%;
}

.dark-blue-text {
  color: #003084;
}

.button-t1 {
  height: 4.0625vw;
  width: 18.4375vw;
  text-align: center;
  color: #FFFFFF;
  font-size: 1.125vw;
  font-weight: 600;
  line-height: 178.9%;
  border-radius: 3.125vw;
  border: 1px solid #D8D8D8;
  background-color: #003084;
  outline: none;
  -webkit-transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.button-t1:hover {
  background-color: #00399e;
}

.button-t1:active {
  background-color: #002e7f;
}

.input {
  padding: 0 2.125vw;
  height: 4.0625vw;
  width: 18.4375vw;
  font-size: 0.9375vw;
  border-radius: 3.125vw;
  border: 1px solid #D8D8D8;
  background-color: #FFFFFF;
  outline: none;
  -webkit-transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.input::-webkit-input-placeholder {
  color: #D8D8D8;
  font-size: inherit;
  line-height: 178.9%;
}

.input::-moz-placeholder {
  color: #D8D8D8;
  font-size: inherit;
  line-height: 178.9%;
}

.input:-ms-input-placeholder {
  color: #D8D8D8;
  font-size: inherit;
  line-height: 178.9%;
}

.input::-ms-input-placeholder {
  color: #D8D8D8;
  font-size: inherit;
  line-height: 178.9%;
}

.input::placeholder {
  color: #D8D8D8;
  font-size: inherit;
  line-height: 178.9%;
}

.input:focus {
  border-color: #b2b2b2;
}

.select {
  padding: 0.6875vw 0.6875vw 0.6875vw 0;
  width: 12.5vw;
  color: #676767;
  font-size: 0.8125vw;
  line-height: 170.9%;
  border-width: 0 0 1px 0;
  border-color: #D8D8D8;
  border-style: solid;
  outline: none;
  cursor: pointer;
}

.checkbox-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.checkbox-label {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.6875vw;
  font-weight: 500;
  line-height: 125.9%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.checkbox-label::before {
  content: '';
  margin: 0 0.5vw 0 0;
  display: block;
  width: 1.125vw;
  height: 1.125vw;
  border-radius: 0.1875vw;
  border: 1px solid #ACACAC;
  background-color: transparent;
  background-image: url("../img/form/check.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0;
  -webkit-transition: all 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: all 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.checkbox-input:checked + .checkbox-label::before {
  background-size: 0.6875vw auto;
}

.header__inner {
  padding: 1.25vw 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__info .h-info {
  margin: 0 3.625vw 0 0;
}

.header__info .h-info:last-of-type {
  margin: 0;
}

.h-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.h-logo__img-box {
  width: 6.875vw;
  height: 6.875vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.h-logo__text-box {
  margin: 0 0 0 1.5625vw;
  max-width: 14.375vw;
}

.h-logo__text {
  font-size: 0.9375vw;
  font-weight: 500;
  line-height: 135%;
}

.h-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.h-info__ico-box {
  margin: 0 1.0625vw 0 0;
  width: 2.1875vw;
  height: 2.1875vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 1000px;
  background-color: #F6F6F6;
}

.h-info__ico-box img {
  width: 35%;
}

.h-info__text-box {
  max-width: 14.1875vw;
}

.h-info__text {
  font-size: 0.9375vw;
  font-weight: 500;
  line-height: 135%;
}

.h-info__text--bold {
  font-weight: 600;
}

.form__outer {
  padding: 1.75vw;
  border-radius: 1.875vw;
  background-color: rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0px 0px 0.9375vw 0.875vw rgba(0, 0, 0, 0.06);
          box-shadow: 0px 0px 0.9375vw 0.875vw rgba(0, 0, 0, 0.06);
}

.form__inner {
  padding: 1.875vw 2.8125vw;
  border-radius: 1.875vw;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 0px 0.9375vw 0.875vw rgba(0, 0, 0, 0.06);
          box-shadow: 0px 0px 0.9375vw 0.875vw rgba(0, 0, 0, 0.06);
}

.form__title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__title-text {
  margin: 0 0 1.125vw;
  max-width: 15.4375vw;
  text-align: center;
  font-size: 1.25vw;
  font-weight: 700;
  line-height: 148.9%;
}

.form__field {
  margin: 0 0 1.125vw;
}

.form__sumbit-btn {
  margin: 1.5vw 0 1.25vw;
}

.form__policy {
  position: relative;
  margin: 0.9375vw 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__add-info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__add-text {
  font-size: 0.8125vw;
  line-height: 178.9%;
}

.section-form__outer {
  position: relative;
}

.section-form--main .section-form__outer {
  padding: 6.25vw 0 9.0625vw;
  margin: 0 0 -6.25vw;
}

.section-form--add .section-form__outer {
  padding: 5vw 0;
}

.section-form__background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  max-width: 98vw;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.section-form__background img {
  width: 58.0625vw;
  height: auto;
  max-height: 100%;
}

.section-form__inner {
  position: relative;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-form__info-box {
  max-width: 32.75vw;
}

.section-form__subtitle {
  margin: 0.625vw 0 0;
}

.section-form__main-text {
  margin: 1.25vw 0 0;
}

.section-advantage {
  z-index: 2;
  position: relative;
}

.section-advantage__outer {
  margin: 0 0 -3.75vw;
}

.section-advantage__inner {
  padding: 1.25vw;
  min-height: 12.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 0.625vw;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 0px 0.9375vw 0.875vw rgba(0, 0, 0, 0.03);
          box-shadow: 0px 0px 0.9375vw 0.875vw rgba(0, 0, 0, 0.03);
}

.section-advantage__item {
  margin: 2.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantage-box__icon {
  margin: 0 0 1.25vw;
}

.advantage-box__icon img {
  width: 3vw;
  height: auto;
}

.advantage-box__text {
  font-size: 1vw;
  font-weight: 500;
  line-height: 178.9%;
}

.section-info--process-eu .section-info__outer {
  padding: 3.75vw 0 0;
}

.section-info--about .section-info__outer {
  padding: 3.75vw 0 0;
}

.section-info__inner {
  padding: 5vw 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-info__col:first-child {
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
  padding-right: 1.25vw;
}

.section-info__col:last-child {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  padding-left: 1.25vw;
}

.section-info._revers .section-info__col:first-child {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

.section-info._revers .section-info__col:last-child {
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
}

.section-info-image-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-info-image-block img {
  max-width: 100%;
  height: auto;
}

.section-info-text-block__header {
  margin: 0 0 2.8125vw;
}

.section-info-text-block__title {
  max-width: 33.9375vw;
}

.section-info-text-block__item {
  padding: 1.25vw 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-info-text-block__item:first-child {
  padding-top: 0;
}

.section-info-text-block__item:last-child {
  padding-bottom: 0;
}

.section-info-text-block__circle {
  margin: 0 1.875vw 0 0;
  max-width: 3.125vw;
  width: 100%;
  height: 3.125vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 3.125vw;
  background-color: #003084;
}

.section-info-text-block__circle_text {
  color: #FFFFFF;
  font-size: 1.125vw;
  font-weight: 600;
  line-height: 178.9%;
}

.section-info-text-block__row {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.section-contacts__outer {
  position: relative;
}

.section-contacts__map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.section-contacts__map #map {
  width: 100%;
  height: 100%;
  outline: none;
}

.section-contacts__outer {
  padding: 5.9375vw 0;
}

.section-contacts__inner {
  position: relative;
  padding: 0;
  pointer-events: none;
}

.section-contacts__inner .contacts-box {
  pointer-events: visible;
}

.contacts-box {
  padding: 2.625vw 3.25vw;
  display: inline-block;
  border-radius: 1.875vw;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 0px 0.9375vw 0.875vw rgba(0, 0, 0, 0.06);
          box-shadow: 0px 0px 0.9375vw 0.875vw rgba(0, 0, 0, 0.06);
}

.contacts-box__item {
  margin: 0 0 2.1875vw;
}

.contacts-box__item:last-child {
  margin: 0;
}

.contacts-box__title {
  margin: 0 0 0.3125vw;
  font-size: 1.125vw;
  font-weight: 700;
  line-height: 178.9%;
}

.contacts-box__link {
  display: inline-block;
  font-size: 0.875vw;
  line-height: 178.9%;
}

.contacts-box__link--phone {
  font-size: 1vw;
  font-weight: 500;
}

.contacts-box__link_inner {
  display: block;
}

.section-what-get__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-what-get__item {
  margin: 5vw 4.0625vw 0;
  max-width: 17.8125vw;
}

.what-get-box__icon {
  margin: 0 0 1.5625vw;
}

.what-get-box__icon img {
  width: auto;
  height: 4vw;
}

.what-get-box__text {
  font-weight: 500;
}

.section-calculator__inner {
  position: relative;
}

.section-calculator__inner::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4.375vw;
  width: 100%;
  height: 4.375vw;
  background: transparent url("../img/main-page/section-calculator/shadow.png") no-repeat center/contain;
  pointer-events: none;
}

.section-calculator__body {
  margin: 4.6875vw 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-calculator__mini-title {
  margin: 0 0 1vw;
  font-size: 1vw;
}

.section-calculator__selects-box {
  margin: 0 0 2.0625vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-calculator__selects-box_item {
  margin: 0 3.75vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-calculator__inputs-box {
  margin: 2.0625vw 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-calculator__inputs-box_item {
  margin: 0 1vw;
}

.section-calculator__button-box {
  margin: 2.0625vw 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-calculator__button-box_item {
  width: 26.875vw;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
         -o-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}