<div class="section-what-get">
	<div class="section-outer section-outer--light-blue">
		<div class="section-inner">
			<div class="section-inner__title">
				<h2 class="title-t2">Что вы получите?</h2>
			</div>
			<div class="section-what-get__body">
				<div class="what-get-box section-what-get__item">
					<div class="what-get-box__icon">
						<img src="./img/main-page/section-what-get/what-get-icon-1.svg" alt="Icon">
					</div>
					<div class="what-get-box__description">
						<span class="main-text what-get-box__text">Качественную консультацию и просчет стоимости</span>
					</div>
				</div>
				<div class="what-get-box section-what-get__item">
					<div class="what-get-box__icon">
						<img src="./img/main-page/section-what-get/what-get-icon-2.svg" alt="Icon">
					</div>
					<div class="what-get-box__description">
						<span class="main-text what-get-box__text">Помощь в приобритении автомобиля за границей</span>
					</div>
				</div>
				<div class="what-get-box section-what-get__item">
					<div class="what-get-box__icon">
						<img src="./img/main-page/section-what-get/what-get-icon-3.svg" alt="Icon">
					</div>
					<div class="what-get-box__description">
						<span class="main-text what-get-box__text">Полную прозрачность в ходе работы</span>
					</div>
				</div>
				<div class="what-get-box section-what-get__item">
					<div class="what-get-box__icon">
						<img src="./img/main-page/section-what-get/what-get-icon-4.svg" alt="Icon">
					</div>
					<div class="what-get-box__description">
						<span class="main-text what-get-box__text">Высокую скорость доставки, оформления документов</span>
					</div>
				</div>
				<div class="what-get-box section-what-get__item">
					<div class="what-get-box__icon">
						<img src="./img/main-page/section-what-get/what-get-icon-5.svg" alt="Icon">
					</div>
					<div class="what-get-box__description">
						<span class="main-text what-get-box__text">Автомобиль мечты по лучшей цене</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>