// === SECTION-CONTAINERS

.section-outer {
	&--light-blue {
		background-color: $light-blue;
	}
}

.section-inner {
	padding: 5vw 0;
	max-width: 81.25vw;
	width: 100%;
	margin: 0 auto;
	
	&__title {
		text-align: center;
	}
}

// === SECTION-CONTAINERS /


// === TEXT

.title-t1 {
	font-size: 2.25vw;
	font-weight: 700;
	line-height: 163.9%;
}

.subtitle-t1 {
	font-size: 1.5vw;
	font-weight: 500;
	line-height: 156.9%;
}

.title-t2 {
	font-size: 1.875vw;
	font-weight: 700;
	line-height: 170.9%;
}

.main-text {
	font-size: 1.125vw;
	line-height: 178.9%;
}

// === TEXT /


// === TEXT-COLOR

.dark-blue-text {
	color: $dark-blue-text;
}

// === TEXT-COLOR /


// === BUTTONS

.button-t1 {
	height: 4.0625vw;
	width: 18.4375vw;
	text-align: center;
	color: $white-text;
	font-size: 1.125vw;
	font-weight: 600;
	line-height: 178.9%;
	border-radius: 3.125vw;
	border: 1px solid $light-gray-t2;
	background-color: $dark-blue;
	outline: none;
	transition: all 0.5s $animation-type;
}

.button-t1:hover {
	background-color: lighten($dark-blue, 5%);
}

.button-t1:active {
	background-color: darken($dark-blue, 1%);
}

// === BUTTONS /


// === INPUT

.input {
	padding: 0 2.125vw;
	height: 4.0625vw;
	width: 18.4375vw;
	font-size: 0.9375vw;
	border-radius: 3.125vw;
	border: 1px solid $light-gray-t2;
	background-color: $white;
	outline: none;
	transition: all 0.5s $animation-type;
}

.input::placeholder {
	color: $light-gray-t2;
	font-size: inherit;
	line-height: 178.9%
}

.input:focus {
	border-color: darken($light-gray-t2, 15%);
}

// === INPUT /


// === SELECT

.select {
	padding: 0.6875vw 0.6875vw 0.6875vw 0;
	width: 12.5vw;
	color: $gray-text;
	font-size: 0.8125vw;
	line-height: 170.9%;
	border-width: 0 0 1px 0;
	border-color: $light-gray-t2;
	border-style: solid;
	outline: none;
	cursor: pointer;
}

// === SELECT /


// === CHECKBOX

.checkbox-input {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.checkbox-label {
	position: relative;
	display: inline-flex;
	align-items: center;
	font-size: 0.6875vw;
	font-weight: 500;
	line-height: 125.9%;
	user-select: none;
	cursor: pointer;
}

.checkbox-label::before {
	content: '';
	margin: 0 0.5vw 0 0;
	display: block;
	width: 1.125vw;
	height: 1.125vw;
	border-radius: 0.1875vw;
	border: 1px solid $light-gray-t3;
	background-color: transparent;
	background-image: url('../img/form/check.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 0;
	transition: all 0.1s $animation-type;
}

.checkbox-input:checked + .checkbox-label::before {
	background-size: 0.6875vw auto;
}

// === CHECKBOX /