$font-main: 'Montserrat', sans-serif;

$white: #FFFFFF;
$black: #000000;

$black-text: #000000;
$white-text: #FFFFFF;
$dark-blue-text: #003084;

$dark-blue: #003084;
$light-blue: #F6FAFF;
$light-gray-t1: #F6F6F6;
$light-gray-t2: #D8D8D8;
$light-gray-t3: #ACACAC;


$animation-type: cubic-bezier(0.075, 0.82, 0.165, 1);