.section-form {
	$parent: &;

	&__outer {
		position: relative;
	}

	&--main {
		#{$parent}__outer {
			padding: 0 0 4.0625vw;
			margin: 0 0 -6.25vw;
		}

		#{$parent}__inner {
			padding: 5vw 0;
		}
	}

	&--add {
		#{$parent}__inner {
			padding: 5vw 0;
		}
	}

	&__background {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		max-width: 98vw;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	&__background img {
		width: 58.0625vw;
		height: auto;
		max-height: 100%;
	}

	&__inner {
		position: relative;
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__info-box {
		max-width: 32.75vw;
	}

	// &__title { empty }

	&__subtitle {
		margin: 0.625vw 0 0;
		
	}
	&__main-text {
		margin: 1.25vw 0 0;
	}

	&__btn-box {
		display: none;
	}
}

@media screen and ( max-width: 768px ) {
	.section-form {
		$parent: &;

		&--main {
			#{$parent}__outer {
				padding: 0 6.25vw 25vw;
				margin: 0 0 -25vw;
			}

			#{$parent}__inner {
				padding: 0 0 7.1875vw;
			}
		}

		&--add {
			#{$parent}__outer {
				padding: 10.9375vw 6.25vw;
			}

			#{$parent}__inner {
				padding: 0;
			}

			#{$parent}__btn-box {
				margin: 2.6875vw 0 0;
			}
		}

		&__background {
			position: relative;
			max-width: none;
			justify-content: center;
		}

		&__background img {
			width: 75vw;
		}

		&__inner {
			padding-left: 0;
			padding-right: 0;
			flex-direction: column;
			align-items: center;
		}

		&__form-box {
			display: none;
		}

		&__info-box {
			max-width: none;
			text-align: center;
		}

		&__subtitle {
			margin: 3.5625vw 0;
		}

		&__btn-box {
			display: block;
			margin: 6.25vw 0 0;
			width: 79.375vw;
		}
	}
}