.section-what-get {
	&__body {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	&__item {
		margin: 5vw 4.0625vw 0;
		max-width: 17.8125vw;
	}
}

.what-get-box {
	&__icon {
		margin: 0 0 1.5625vw;

		& img {
			width: auto;
			height: 4vw;
		}
	}

	&__text {
		font-weight: 500;
	}
}

@media screen and ( max-width: 768px ) {
	.section-what-get {
		&__body {
			flex-direction: column;
			align-items: center;
		}
	
		&__item {
			margin: 9.375vw 2vw 0;
			max-width: 68.75vw;

			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
	
	.what-get-box {
		&__icon {
			margin: 0 0 2.1875vw;
	
			& img {
				height: 11.25vw;
			}
		}
	
		&__description {
			text-align: center;
		}
	}
}