<section class="section-info section-info--process-usa">
	<div class="section-outer">
		<div class="section-inner section-info__inner">
			<div class="section-info__col section-info-image-block">
				<img src="./img/main-page/section-info/info-img-2.png" alt="Image">
			</div>
			<div class="section-info__col section-info-text-block">
				<div class="section-info-text-block__header">
					<h2 class="title-t2 section-info-text-block__title">
						Как происходит процесс растаможки авто из США?
					</h2>
				</div>
				<div class="section-info-text-block__list">
					<div class="section-info-text-block__item">
						<div class="section-info-text-block__circle">
							<span class="section-info-text-block__circle_text">01</span>
						</div>
						<div class="section-info-text-block__row">
							<span class="main-text">
								Подбор автомобиля (Консультация, Просчет, Подписание договора)
							</span>
						</div>
					</div>
					<div class="section-info-text-block__item">
						<div class="section-info-text-block__circle">
							<span class="section-info-text-block__circle_text">02</span>
						</div>
						<div class="section-info-text-block__row">
							<span class="main-text">
								Оплата авто и логистики (Аукцион, Оплата лота, Заказ запчастей)
							</span>
						</div>
					</div>
					<div class="section-info-text-block__item">
						<div class="section-info-text-block__circle">
							<span class="section-info-text-block__circle_text">03</span>
						</div>
						<div class="section-info-text-block__row">
							<span class="main-text">
								Доставка и постановка на учет (Доставка и растаможка, Восстановление авто, Постановка на учет)
							</span>
						</div>
					</div>
					<div class="section-info-text-block__item">
						<div class="section-info-text-block__circle">
							<span class="section-info-text-block__circle_text">04</span>
						</div>
						<div class="section-info-text-block__row">
							<span class="main-text">
								Все готово, автомобиль у клиента
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>