<section class="section-info section-info--about">
	<div class="section-outer section-info__outer">
		<div class="section-inner section-info__inner">
			<div class="section-info__col section-info-image-block">
				<img src="./img/main-page/section-info/info-img-3.png" alt="Image">
			</div>
			<div class="section-info__col section-info-text-block">
				<div class="section-info-text-block__header">
					<h2 class="title-t2 section-info-text-block__title">
						Транспортно-экспедиторская компания “ПП СОЛО”
					</h2>
				</div>
				<div class="section-info-text-block__body">
					<p class="section-info-text-block__description">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. 
						Duis vulputate commodo lectus, ac blandit elit tincidunt id. 
						Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. 
						Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. 
						Aenean velit odio, elementum in tempus ut, vehicula eu diam. 
						Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. 
						Vivamus varius pretium ligula, a aliquam odio euismod sit amet. 
					</p>
				</div>
			</div>
		</div>
	</div>
</section>