<section class="section-info section-info--about">
	<div class="section-outer section-info__outer">
		<div class="section-inner section-info__inner">
			<div class="section-info__col section-info-image-block">
				<img src="./img/main-page/section-info/info-img-3.png" alt="Image">
			</div>
			<div class="section-info__col section-info-text-block">
				<div class="section-info-text-block__header">
					<h2 class="title-t2 section-info-text-block__title">
						Транспортно-экспедиторская компания “ПП СОЛО”
					</h2>
				</div>
				<div class="section-info-text-block__body">
					<p class="main-text">
						Компания ПП Соло — влиятельный игрок на таможенном рынке с многолетним опытом. 
						Компания начала деятельность еще в самом начале этого века. 
					</p>
					<p class="main-text">
						ПП Соло — не просто очередная брокерская компания, а крупная фирма с высоким уровнем профессионализма и положительной репутацией в стране и за ее пределами с широчайшим набором услуг. 
						Мы шагаем в ногу со временем и предлагаем только актуальные услуги. За все время работы провели огромное количество быстрых и малозатратных таможенных оформлений. 
						Сотрудничество с нами — это комфорт, надежность и индивидуальный подход к каждому клиенту.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>