<section class="section-info section-info--process-eu _revers">
	<div class="section-outer section-outer--light-blue section-info__outer">
		<div class="section-inner section-info__inner">
			<div class="section-info__col section-info-text-block">
				<div class="section-info-text-block__header">
					<h2 class="title-t2 section-info-text-block__title">
						Как происходит процесс растаможки авто из Европы?
					</h2>
				</div>
				<div class="section-info-text-block__list">
					<div class="section-info-text-block__item">
						<div class="section-info-text-block__circle">
							<span class="section-info-text-block__circle_text">01</span>
						</div>
						<div class="section-info-text-block__row">
							<span class="section-info-text-block__row_text">
								Подбор автомобиля (Консультация, Просчет, Подписание договора)
							</span>
						</div>
					</div>
					<div class="section-info-text-block__item">
						<div class="section-info-text-block__circle">
							<span class="section-info-text-block__circle_text">02</span>
						</div>
						<div class="section-info-text-block__row">
							<span class="section-info-text-block__row_text">
								Проверка авто (Тест-драйв, Полная проверка авто, Фото-видео отчет)
							</span>
						</div>
					</div>
					<div class="section-info-text-block__item">
						<div class="section-info-text-block__circle">
							<span class="section-info-text-block__circle_text">03</span>
						</div>
						<div class="section-info-text-block__row">
							<span class="section-info-text-block__row_text">
								Оплата авто и логистики (Оформление документов, Связь с продавцом, Покупка авто)
							</span>
						</div>
					</div>
					<div class="section-info-text-block__item">
						<div class="section-info-text-block__circle">
							<span class="section-info-text-block__circle_text">04</span>
						</div>
						<div class="section-info-text-block__row">
							<span class="section-info-text-block__row_text">
								Доставка и постановка на учет (Доставка, Растаможка, Постановка на учет)
							</span>
						</div>
					</div>
					<div class="section-info-text-block__item">
						<div class="section-info-text-block__circle">
							<span class="section-info-text-block__circle_text">05</span>
						</div>
						<div class="section-info-text-block__row">
							<span class="section-info-text-block__row_text">
								Все готово, автомобиль у клиента
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="section-info__col section-info-image-block">
				<img src="./img/main-page/section-info/info-img-1.png" alt="Image">
			</div>
		</div>
	</div>
</section>