<header class="header">
    <div class="section-outer">
		<div class="section-inner header__inner">
			<div class="header__logo">
				<div class="h-logo">
					<div class="h-logo__img-box">
						<img src="./img/logo/logo.png" alt="Logo">
					</div>
					<div class="h-logo__text-box">
						<h2 class="h-logo__text">Растаможка авто из Европы и США под ключ</h2>
					</div>
				</div>
				<div class="header-mob-menu-btn">
					<button class="header-mob-menu-btn__trigger">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</button>
				</div>
			</div>
			<div class="header__info">
				<div class="h-info">
					<div class="h-info__ico-box">
						<img src="./img/header/location-ico.svg" alt="Icon">
					</div>
					<div class="h-info__text-box">
						<a href="https://goo.gl/maps/NsMCg5jjGpJVe6r6A" target="_blank" class="h-info__text">Киев Шевченковский р-н ул. Степана Руданского 3А</a>
					</div>
				</div>
				<div class="h-info">
					<div class="h-info__ico-box">
						<img src="./img/header/call-ico.svg" alt="Icon">
					</div>
					<div class="h-info__text-box">
						<a href="tel:+380503319081" class="h-info__text h-info__text--bold">+38 050 331 90 81</a>
					</div>
				</div>
			</div>
			<div class="header__mob-info">
				<div class="h-info">
					<div class="h-info__ico-box">
						<img src="./img/header/location-ico.svg" alt="Icon">
					</div>
					<div class="h-info__text-box">
						<a href="https://goo.gl/maps/NsMCg5jjGpJVe6r6A" target="_blank" class="h-info__text">Киев Шевченковский р-н ул. Степана Руданского 3А</a>
					</div>
				</div>
				<div class="h-info">
					<div class="h-info__ico-box">
						<img src="./img/header/call-ico.svg" alt="Icon">
					</div>
					<div class="h-info__text-box">
						<a href="tel:+380503319081" class="h-info__text h-info__text--bold">+38 050 331 90 81</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>