<div class="popup" data-popup="get-price">
	<div class="popup__inner">
		<button class="popup-btn-close popup__btn-close">Закрыть</button>
		<form action="#" class="form form-box">
			<div class="form-box__outer">
				<div class="form-box__inner">
					<div class="form-box__title">
						<h3 class="form-box__title-text">Просчитать стоимость вашего автомобиля</h3>
					</div>
					<div class="form-box__field">
						<input type="text" name="name" class="input form-box__input _req" placeholder="Имя">
					</div>
					<div class="form-box__field">
						<input type="tel" name="phone" class="input form-box__input _req" placeholder="Телефон">
					</div>
					<div class="form-box__sumbit-btn">
						<button type="submit" class="button button-t1 button-t1--dark-blue form-box-t1__button">Отправить</button>
					</div>
					<div class="form-box__policy">
						<input type="checkbox" id="checkbox_form_box_popup" class="checkbox-input form-box__chekbox-input _req" checked>
						<label for="checkbox_form_box_popup" class="checkbox-label form-box__checkbox-label">Согласен на обработку персональных данных</label>
					</div>
					<div class="form-box__add-info">
						<span class="form-box__add-text">Консультация бесплатная</span>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

<div class="popup" id="thanks_popup">
	<div class="popup__inner">
		<button class="popup-btn-close popup__btn-close">Закрыть</button>
		<div class="form-box">
			<div class="form-box__outer">
				<div class="form-box__inner">
					<div class="thanks-box">
						<div class="thanks-box__image">
							<img src="./img/popups/success.svg" alt="Image">
						</div>
						<div class="thanks-box__description">
							<h2 class="thanks-box__title">Спасибо!</h2>
							<h3 class="thanks-box__subtitle">Ваша заявка принята.</h3>
							<span class="thanks-box__text">Мы свяжемся с Вами в ближайшее время.</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>