<div class="popup" data-popup="get-price">
	<div class="popup__inner">
		<button class="popup-btn-close popup__btn-close">Закрыть</button>
		<form action="#" class="form">
			<div class="form__outer">
				<div class="form__inner">
					<div class="form__title">
						<h3 class="form__title-text">Просчитать стоимость вашего автомобиля</h3>
					</div>
					<div class="form__field">
						<input type="text" class="input form__input" placeholder="Имя">
					</div>
					<div class="form__field">
						<input type="text" class="input form__input" placeholder="Телефон">
					</div>
					<div class="form__sumbit-btn">
						<button class="button button-t1 button-t1--dark-blue form-t1__button" data-popup="thanks">Отправить</button>
					</div>
					<div class="form__policy">
						<input type="checkbox" id="checkbox_form_main_3" class="checkbox-input form__chekbox-input" checked>
						<label for="checkbox_form_main_3" class="checkbox-label form__checkbox-label">Согласен на обработку персональных данных</label>
					</div>
					<div class="form__add-info">
						<span class="form__add-text">Консультация бесплатная</span>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

<div class="popup" data-popup="thanks">
	<div class="popup__inner">
		<button class="popup-btn-close popup__btn-close">Закрыть</button>
		<div class="form">
			<div class="form__outer">
				<div class="form__inner">
					<div class="thanks-box">
						<div class="thanks-box__image">
							<img src="./img/popups/success.svg" alt="Image">
						</div>
						<div class="thanks-box__description">
							<h2 class="thanks-box__title">Спасибо!</h2>
							<h3 class="thanks-box__subtitle">Ваша заявка принята.</h3>
							<span class="thanks-box__text">Мы свяжемся с Вами в ближайшее время.</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>