<div class="section-calculator">
	<div class="section-outer">
		<div class="section-inner section-calculator__inner">
			<div class="section-inner__title">
				<h2 class="title-t2">Расчёт стоимости растаможки авто</h2>
			</div>
			<form action="" class="section-calculator__body">
				<div class="section-calculator__selects-box">
					<div class="section-calculator__selects-box_item">
						<span class="section-calculator__mini-title">Год авто</span>
						<select name="select_1" id="select_1" class="select">
							<option value="2020">2020</option>
							<option value="2019">2019</option>
							<option value="2018">2018</option>
							<option value="2017">2017</option>
							<option value="2016">2016</option>
							<option value="2015">2015</option>
						</select>
					</div>
					<div class="section-calculator__selects-box_item">
						<span class="section-calculator__mini-title">Объем двигателя</span>
						<select name="select_2" id="select_2" class="select">
							<option value="1.2">1.2</option>
							<option value="1.3">1.3</option>
							<option value="1.4">1.4</option>
							<option value="1.5">1.5</option>
							<option value="1.6">1.6</option>
							<option value="1.7">1.7</option>
						</select>
					</div>
					<div class="section-calculator__selects-box_item">
						<span class="section-calculator__mini-title">Стоимость авто</span>
						<select name="select_3" id="select_3" class="select">
							<option value="1">1000$</option>
							<option value="1">2000$</option>
							<option value="1">3000$</option>
							<option value="1">4000$</option>
							<option value="1">5000$</option>
							<option value="1">6000$</option>
						</select>
					</div>
					<div class="section-calculator__selects-box_item">
						<span class="section-calculator__mini-title">Тип двигателя</span>
						<select name="select_4" id="select_4" class="select">
							<option value="1">Бензин</option>
							<option value="1">Дизель</option>
							<option value="1">Гибрид</option>
							<option value="1">Электро</option>
						</select>
					</div>
				</div>
				<div class="section-calculator__inputs-box">
					<div class="section-calculator__inputs-box_item">
						<input type="text" class="input" placeholder="Ваше имя">
					</div>
					<div class="section-calculator__inputs-box_item">
						<input type="text" class="input" placeholder="Ваш телефон">
					</div>
				</div>
				<div class="section-calculator__button-box">
					<button class="button-t1 section-calculator__button-box_item">Рассчитать стоимость</button>
				</div>
			</form>
		</div>
	</div>
</div>